* {
  font-family: "Roboto", sans-serif;
}

#dataContainer {
  left: 200%;
  width: 100%;
  transition: all 0.5s ease;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#inputLocation{
    z-index: 3;
}

#countryMatchList,
#cityMatchList {
  z-index: 5;
}
