*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    padding: 100px;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(9, 20, 41), rgb(16, 54, 124));
    overflow: hidden;
}

.brokenclouds{
    background: white;
    border-radius: 1000px;
    position: absolute;
    z-index: 2;
    /* animation: zoomie 5s infinite linear; */
}

.sun{
    background: rgb(255, 230, 0);
    border-radius: 1000px;
    position: absolute;
    /* animation: zoomie 5s infinite linear; */
}

.sun.one{
    top: 50%;
    width: 100px;
    height: 100px;
}


.brokenclouds.one{
    top: 60%;
    width: 300px;
    height: 100px;
}

.cloud.two{
    top: 30%;
    width: 60px;
    height: 20px;
    animation-duration: 10s;
}

.cloud.three{
    top: 40%;
    width: 120px;
    height: 40px;
    animation-duration: 15s;
}
.brokenclouds::after{
        content: "";
        position: absolute;
        top: -40%;
        right: 20%;
        width: 30%;
        height: 100%;
        background: white;
        border-radius: 50%;
}
    
.brokenclouds::before{
    content: "";
    position: absolute;
    top: -80%;
    left: 10%;
    width: 50%;
    height: 150%;
    background: white;
    border-radius: 50%;
}


.hearth{
    height: 100px;
    width: 100px;
    background: red;
    position: absolute;
    border-radius: 1000px 1000px 0 1000px;
}

.hearth::before{
    content: "";
    height: 100px;
    width: 100px;
    border-radius: 1000px 1000px 1000px 0;
    background-color: red;
    position: absolute;
    left: 100%;
}

.hearth::after{
    content: "";
    height: 0px;
    left: 10px;
    width: 0px;
    position: absolute;
    border-top: 100px solid red;
    border-bottom: 90px solid transparent;
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    top: 80px;
    
}

@keyframes zoomie {
    from{
        left: -30%;
        /* transform: translateX(-100%); */
    }

    to{
        left: 100%;
        /* transform: translateX(0%); */

    }
}


.chicken{
    position: relative;
    width: 400px;
    height: 350px;
    background: rgb(99, 99, 99);
    padding-top: 50px;
}

.chicken > *{
    margin-left: 50px;
}

.chicken .body{
    width: 70%;
    position: absolute;
    left: 0;
    height: 150px;
    border-radius: 0 0 1000px 1000px;
    background: white;
    z-index: 2;
}

.chicken .body::after{
    content: "";
    height: 50%;
    width: 30%;
    border-radius: 0 0 1000px 0;
    left: 50%;
    top: 15%;
    position: absolute;
    border: 2px solid black;
    border-left: 0;
}

.chicken .head{
    height: 20%;
    width: 25%;
    border-radius: 0 1000px 0 0;
    position: relative;
    background: white;
    top: 20px;
    z-index: 3;
}

.chicken .head::before{
    content: "";
    width: 10px;
    height: 10px;
    background: black;
    position: absolute;
    border-radius: 1000px;
    left: 17%;
    top: 17%;
}

.chicken .head .hair{
    height: 20px;
    width: 10px;
    border-radius: 1000px 1000px 0 0;
    position: absolute;
    background-color: orange;
    top: -20px;
    left: 5px;
    z-index: 0;
}

.chicken .head .hair::before{
    content: "";
    height: 15px;
    width: 10px;
    border-radius: 1000px 1000px 0 0;
    position: absolute;
    background-color: orange;
    bottom: 0;
    left: 10px;
    z-index: 0;
}



.chicken .beak{
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 30px solid rgb(255, 174, 0);
    border-left: 20px solid transparent;
    position: absolute;
    left: -50px;
    top: 20%;
    z-index: 2;
}

.chicken .tail{
    height: 50px;
    width: 30px;
    background-color: white;
    position: absolute;
    border-radius: 1000px 0 0 0;
    right: 17.5%;
    top: 20%;
}

.chicken .leg{
    width: 5px;
    height: 40px;
    background-color: orange;
    z-index: 1;
}

.chicken .leg.one{
    position: absolute;
    bottom: 15%;
    left: 30%;
}

.chicken .leg.two{
    position: absolute;
    bottom: 15%;
    left: 40%;
}

.chicken .leg::before{
    content: "";
    height: 5px;
    width: 15px;
    background-color: orange;
    position: absolute;
    bottom: 0;
    right: 0px;
    border-radius: 1000px 0 0 1000px;
}
